{% extends 'base.html.twig' %}

{% block body_class %}<body id="ged">{% endblock %}

{% block main_content %}
    {{ include('includes/topbar.html.twig') }}
    {{ include('includes/sidebar.html.twig') }}

    <main class="admin-form">
            <h1><i>{{ doc.titre }}</i></h1>

                {{ form_start(edit_form) }}
                {{ form_errors(edit_form) }}

            {% if app.session.flashBag.has('success') %}
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            {% endif %}
                <div>
                    {{ form_label(edit_form.titre, 'Titre') }}
                    {{ form_errors(edit_form.titre) }}
                    {{ form_widget(edit_form.titre) }}
                </div>

                <div>
                    {{ form_label(edit_form.auteur) }}
                    {{ form_errors(edit_form.auteur) }}
                    {{ form_widget(edit_form.auteur) }}
                </div>

                <div>
                    {{ form_label(edit_form.resume) }}
                    {{ form_errors(edit_form.resume) }}
                    {{ form_widget(edit_form.resume) }}
                </div>

                <div>
                    {{ form_label(edit_form.finDeVie) }}
                    {{ form_errors(edit_form.finDeVie) }}
                    {{ form_widget(edit_form.finDeVie) }}
                </div>

                {{ form_end(edit_form) }}

    </main>
{% endblock %}