{% extends 'base.html.twig' %}

{% block body_class %}<body id="ged">{% endblock %}

{% block main_content %}
    {{ include('includes/topbar.html.twig') }}
    {{ include('includes/sidebar.html.twig') }}

    {% if app.session.flashBag.has('success') %}
        {% for msg in app.session.flashBag.get('success') %}
            {{ msg }}
        {% endfor %}
    {% endif %}

    <table id="donnees" class="display no-wrap" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="control"></th>
            <th>Titre du document</th>
            <th>Auteur</th>
            <th>Organisme émetteur</th>
            <th>Date d'ajout</th>
            <th>Actions</th>
            <th>Résumé</th>
        </tr>
        </thead>
        <tbody>
        {% for doc in docs %}
            <tr>
                <td class="control"></td>
                <td>{{ doc.titre }}</td>
                <td>{{ doc.auteur }}</td>
                <td>
                    {% for user in users %}
                        {% if user.username == doc.user %}
                            {{ user.organisme }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ doc.dateUpload|date('m/d/Y') }}</td>
                <td class="actions">
                    <a href="{{  path('documents_edit', { 'id': doc.id }) }}"><img src="{{  asset('images/edit.svg') }}" width="20" height="20" alt="Editer" /></a>
                    <a href="{{ path("document_download", {'document': doc.document}) }}"><img src="{{ asset('images/download.svg') }}" width="20" height="20" alt="Télécharger" /></a>
                    <a class="confirmModalLink" href="{{ path('documents_delete', {'id':  doc.Id  }) }}"><img src="{{ asset('images/delete.svg') }}" width="20" height="20" alt="Supprimer" /></a>
                    <a href="{{ path('document_visual', {'document': doc.document }) }}"><img src="{{ asset('images/zoom.svg') }}" width="20" height="20" alt="Aperçu" /></a>
                </td>
                <td>{{ doc.resume }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Button trigger modal -->
    <button type="button" class="button-ajout btn btn-primary btn-lg" data-toggle="modal" data-target="#modal_ajout">
        Ajouter un document
    </button>
    {% if form is defined %}
         {% include '@Ged/Documents/new.html.twig' %}
    {% endif %}

    {% include '@Ged/Documents/delete.html.twig' %}


{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#donnees').dataTable( {
                "lengthChange": false,
                "info": false,
                "pagingType": "simple",
                responsive: {
                    details: {
                        type: 'column',
                        target: 'tr',
                        renderer: function ( api, rowIdx, columns ) {
                            var data = $.map( columns, function ( col, i ) {
                                return col.hidden ?
                                    '<div>'+col.title+' : '+col.data+'</div>':'';
                            } ).join('');

                            return data ?
                                $('<div/>').append( data ) :
                                false;
                        }
                    }
                },
                columnDefs: [
                    {
                        className: 'control',
                        orderable: false,
                        targets:   0
                    },
                    { className: 'none', targets: 6},
                    { className: 'all', targets: 0},
                    { className: 'none', targets: 1},
                    { className: 'all', targets: 5},
                    { responsivePriority: 3, targets: 3 },
                    { responsivePriority: 2, targets: 2 },
                    { responsivePriority: 1, targets: 4 }
                ],
                order: [ 1, 'asc' ]
            });
        });
    </script>
{% endblock %}