{% extends 'base.html.twig' %}

{% block body_class %}<body id="ged">{% endblock %}

{% block main_content %}
    {{ include('includes/topbar.html.twig') }}
    {{ include('includes/sidebar.html.twig') }}

    <main class="admin-form">
        <h1>Ajout d'un document</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div>
            {{ form_label(form.titre, 'Titre') }}
            {{ form_errors(form.titre) }}
            {{ form_widget(form.titre) }}
        </div>

        <div>
            {{ form_label(form.auteur) }}
            {{ form_errors(form.auteur) }}
            {{ form_widget(form.auteur) }}
        </div>

        <div>
            {{ form_label(form.resume) }}
            {{ form_errors(form.resume) }}
            {{ form_widget(form.resume) }}
        </div>

        <div>
            {{ form_label(form.finDeVie) }}
            {{ form_errors(form.finDeVie) }}
            {{ form_widget(form.finDeVie) }}
        </div>

        {% if app.session.flashBag.has('failure') %}
            {% for msg in app.session.flashBag.get('failure') %}
                {{ msg }}
            {% endfor %}
        {% endif %}
        <div>
            {{ form_label(form.file) }}
            {{ form_errors(form.file) }}
            {{ form_widget(form.file) }}
            <p>Seuls les documents au format PDF sont autorisés.</p>
        </div>

        {{ form_end(form) }}

    </main>
{% endblock %}