{% extends 'base.html.twig' %}

{% block body_class %}<body id="ged">{% endblock %}

{% block main_content %}
    {{ include('includes/topbar.html.twig') }}
    {{ include('includes/sidebar.html.twig') }}

    <main class="admin-form deep-main">
        <h1>Ajout d'un document</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div>
            {{ form_label(form.titre, 'Titre') }}
            {{ form_widget(form.titre) }}
        </div>

        <div>
            {{ form_label(form.auteur) }}
            {{ form_widget(form.auteur) }}
        </div>

        <div>
            {{ form_label(form.resume) }}
            {{ form_widget(form.resume) }}
        </div>

        <div>
            {{ form_label(form.file, 'Document (.pdf)') }}
            <div class="fileUpload">
                <span>uploader</span>
                {{ form_widget(form.file) }}
            </div>
        </div>

        <div>
            {{ form_label(form.finDeVie) }}
            {{ form_widget(form.finDeVie) }}
        </div>

        {% if app.session.flashBag.has('failure') %}
            {% for msg in app.session.flashBag.get('failure') %}
                {{ msg }}
            {% endfor %}
        {% endif %}

        <div>
            {{ form_label(form.fil_actu) }}
            {{ form_widget(form.fil_actu) }}
            <label for="gedbundle_documents_fil_actu" class="checkbox"></label>
        </div>

        {{ form_errors(form.titre) }}
        {{ form_errors(form.auteur) }}
        {{ form_errors(form.resume) }}
        {{ form_errors(form.finDeVie) }}
        {{ form_errors(form.file) }}
        {{ form_errors(form.fil_actu) }}

        {{ form_end(form) }}
    </main>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $( "#gedbundle_documents_file" ).change(function() {
            var selected_file = $( this ).val();
            // if true : évite que l'input ne soit vidé si l'utilisateur clique sur "Annuler"
            if (selected_file) {
                $( ".fileUpload span" ).text( selected_file );
            }
        });
    </script>
{% endblock %}
