<!-- Modal Ajout d'un document -->

<div class="modal fade" id="modal_ajout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ajouter un document</h4>
            </div>
            <div class="modal-body">

                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div>
                    {{ form_label(form.titre, 'Titre') }}
                    {{ form_errors(form.titre) }}
                    {{ form_widget(form.titre) }}
                </div>

                <div>
                    {{ form_label(form.auteur) }}
                    {{ form_errors(form.auteur) }}
                    {{ form_widget(form.auteur) }}
                </div>

                <div>
                    {{ form_label(form.resume) }}
                    {{ form_errors(form.resume) }}
                    {{ form_widget(form.resume) }}
                </div>

                <div>
                    {{ form_label(form.finDeVie) }}
                    {{ form_errors(form.finDeVie) }}
                    {{ form_widget(form.finDeVie) }}
                </div>

                {% if app.session.flashBag.has('failure') %}
                    {% for msg in app.session.flashBag.get('failure') %}
                        {{ msg }}
                    {% endfor %}
                {% endif %}
                <div>
                    {{ form_label(form.file) }}
                    {{ form_errors(form.file) }}
                    {{ form_widget(form.file) }}
                </div>

                {{ form_end(form) }}

                <ul class="record_actions">
                    <li>
                        <a href="{{ path('documents') }}">
                            Back to the list
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>