{% extends 'base.html.twig' %}

{% block body_class %}<body id="ged">{% endblock %}

{% block main_content %}
    {{ include('includes/topbar.html.twig') }}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Détails de {{ doc.titre }}</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered record_properties">
                <tbody>
                <tr>
                    <th>Titre</th>
                    <td>{{ doc.titre }}</td>
                </tr>
                <tr>
                    <th>Résumé</th>
                    <td>{{ doc.resume }}</td>
                </tr>
                <tr>
                    <th>Auteur</th>
                    <td>{{ doc.auteur }}</td>
                </tr>
                <tr>
                    <th>Fichier associé</th>
                    <td>{{ doc.file }}</td>
                </tr>
                <tr>
                    <th>Date de mise en ligne</th>
                    <td>{{ doc.dateUpload|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Expire le</th>
                    <td>{{ doc.finDeVie|date('Y-m-d H:i:s') }}</td>
                </tr>
                </tbody>
            </table>
            <p></p>
            <div class="btn-group" role="group">
                <a href="{{ path('documents') }}" type="button" class="btn btn-default">Retour à la liste</a>
                <a href="{{ path('document_visual', {'document': doc.document }) }}" type="button" class="btn btn-primary">Ouvrir</a>
                <a href="{{ path("document_download", {'document': doc.document}) }}" type="button" class="btn btn-primary">Télécharger <span class="caret"></span></a>
                <a data-toggle="modal" data-target="#modal_edit" href="#" type="button" class="btn btn-primary">Modifier ce document</a>
            </div>

        </div>
    </div>
</div>


        {% include '@Ged/Documents/edit.html.twig' %}
{% endblock %}
{% block scripts %}
    {{ parent() }}
{% endblock %}
