{% extends '::base.html.twig' %}

{% block body_class %}<body id="ged">{% endblock %}

{% block main_content %}
    {{ include('includes/topbar.html.twig') }}
    {{ include('includes/sidebar.html.twig') }}


    <main>
<div class="container">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="{{ path('message') }}">Boite de reception</a></li>
                    <li role="presentation"><a href="{{ path('message_suivi') }}">Mes messages envoyés</a></li><hr />
                    <li role="presentation"><a href="{{ path('message_new') }}">Nouveau message</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col-md-9">
        <h2>Boite de réception</h2>
        <table id="donnees" class="display"  width="100%">
            <thead>
            <tr>
                <th>Expéditeur</th>
                <th>Sujet</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                {% if entity.visibleInBoxReceiver == 1 %}
                    <tr>
                        <td>De : {{ entity.senderName }} ({{ entity.sender }}) </td>
                        <td><a href="{{ path('message_show', { 'id': entity.id }) }}" title="Voir">{{ entity.subject }}</a></td>
                        <td><a href="{{ path('message_show', { 'id': entity.id }) }}" title="Voir"><img src="{{ asset('images/zoom.svg') }}" width="20" height="20" alt="Voir" /></a>
                        <a class="confirmModalLink" href="{{ path('message_delete', {'id':  entity.id  }) }}" title="Supprimer">
                                <img src="{{ asset('images/delete.svg') }}" width="20" height="20" alt="Supprimer" />
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>




</main>
    {% include '@Msg/Message/delete.html.twig' %}

{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $( '#donnees' ).dataTable( {
                "lengthChange": false,
                "info": false,
                "pagingType": "simple",
                "language": {
                    "search": "",
                    "paginate": {
                        previous: '‹',
                        next:     '›'
                    },
                    "zeroRecords": "Pas de messages",
                },
                "responsive": {
                    details: {
                        type: 'column',
                        target: '.target',
                        renderer: function ( api, rowIdx, columns ) {
                            var data = $.map( columns, function ( col, i ) {
                                return col.hidden && col.data != "" ?
                                '<div><strong>'+col.title+'</strong> : '+col.data+'</div>':'';
                            } ).join('');

                            return data ?
                                    $('<div class="slider"/>').append( data ) :
                                    false;
                        }
                    }
                },
                "autoWidth": false,
                "columns": [
                    { "width": "40%" },
                    { "width": "40%" },
                    { "width": "20%" }
                ],
                "columnDefs": []
            });

            // autofocus et placeholder pour le champ de recherche
            $( 'input[type="search"]' ).focus().attr( "placeholder", "recherche globale" );

            // fadeout pour le flashbag
            window.setTimeout(function() {
                $( '.flashbag' ).fadeOut( 1750 );
            }, 2250);
        });
    </script>
{% endblock %}
