{% extends '::base.html.twig' %}

{% block body_class %}<body id="dialogue">{% endblock %}

{% block main_content %}
    {% embed "includes/topbar.html.twig" %}
        {% block breadcrumb %}<a href="{{ path('homepage') }}">P@rtnet</a><div class="arrow-right"></div><a href="{{ path('message') }}">Dialogue</a>{% endblock %}
    {% endembed %}
    {{ include('includes/sidebar.html.twig') }}

    <div class="container new-message">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="{{ path('message') }}">Boîte de reception</a></li>
                        <li role="presentation"><a href="{{ path('message_suivi') }}">Mes messages envoyés</a></li><hr />
                        <li role="presentation" class="active"><a href="{{ path('message_new') }}">Nouveau message</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <main class="admin-form deep-main">
                <h1>Nouveau message</h1>

                {{ form_start(form) }}

                {% if selected_email is defined %}
                <div>
                    {{ form_label(form.recipient) }}
                    {{ form_widget(form.recipient, {'attr' : {'class' : 'form-control', 'value' : selected_email} }) }}
                    <span class="input-group-btn">
                        <a class="btn btn-default" href="{{ path('annuaire_homepage') }}">Rechercher un destinataire</a>
                    </span>
                </div>
                {% else %}
                <div>
                    {{ form_label(form.recipient) }}
                    {{ form_widget(form.recipient, {'attr' : {'class' : 'form-control'}}) }}
                    <span class="input-group-btn">
                        <a class="btn btn-default" href="{{ path('annuaire_homepage') }}">Rechercher un destinataire</a>
                    </span>
                </div>
                {% endif %}

                <div>
                    {{ form_label(form.subject) }}
                    {{ form_widget(form.subject, {'attr' : {'class' : 'form-control'}}) }}
                </div>

                <div>
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message, {'attr' : {'class' : 'form-control', 'rows' : '10'}}) }}
                </div>

                <div>
                    {{ form_widget(form.submit, {'attr' : {'class' : 'btn btn-primary'}}) }}
                </div>

                {{ form_errors(form.subject) }}
                {{ form_errors(form.message) }}

                {{ form_end(form) }}
            </main>
        </div>
    </div>
{% endblock %}
