<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}P@rnet Emploi!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/ged/css/bootstrap.css') }}"type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/ged/css/bootstrap-theme.css') }}"type="text/css"/>
    </head>
    <body>
        {% block body %}

            <a href="{{ path('ged_homepage') }}">GED</a>

        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/ged/js/jquery-1.11.3.js') }}"></script>
            <script src="{{ asset('bundles/ged/js/bootstrap.js') }}"></script>
            <script src="{{ asset('bundles/ged/js/modal.js') }}"></script>
        {% endblock %}
    </body>


</html>
