{% extends '::base.html.twig' %}

{% block main_content -%}
    {{ include('includes/topbar.html.twig') }}
    {{ include('includes/sidebar.html.twig') }}
    <main><h1>Formations edit</h1>

        {{ form(edit_form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('formations') }}">
                    Back to the list
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul></main>

{% endblock %}
