{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    <ul class="profile-data">
        <li>
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password, {'attr' : { 'autofocus' : true }}) }}
        </li>
        <li>
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </li>
        <li>
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
        </li>
    </ul>

    {{ form_errors(form.current_password) }}
    {{ form_errors(form.plainPassword.first) }}
    {{ form_errors(form.plainPassword.second) }}

    <div>
        <input class="main-submit" type="submit" value="Modifier" />
    </div>
    {{ form_end(form) }}
</form>
