{% extends 'base.html.twig' %}

{% block body_class %}<body id="annuaire">{% endblock %}

{% block main_content %}
    {{ include('includes/topbar.html.twig') }}
    {{ include('includes/sidebar.html.twig') }}

    <main>
        <table id="donnees" class="nowrap stripe row-border hover" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Nom et prénom</th>
                <th>Organisme</th>
                <th>Poste</th>
                <th>Téléphone</th>
                <th>E-mail</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Uploads</th>
                    <th>Dernière connexion</th>
                    <th>Création du compte</th>
                {% endif %}
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nom }} {{ entity.prenom }}</td>
                    <td>{{ entity.organisme }}</td>
                    <td>{{ entity.poste }}</td>
                    <td>{{ entity.telephone }}</td>
                    <td><a href="{{ path('message_new') }}{{  entity.email }}" title="Envoyer un e-mail">{{ entity.email }}</a></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ entity.nbUploads }}</td>
                        <td>{{ entity.lastLogin|date('d/m/Y') }}</td>
                        <td>{{ entity.creationCompte|date('d/m/Y') }}</td>
                    {% endif %}
                    <td class="actions">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="confirmModalLink" href="{{ path('user_delete', {'id':  entity.id  }) }}" title="Supprimer">
                            <img src="{{ asset('images/delete.svg') }}" width="20" height="20" alt="Supprimer" />
                        </a>
                    {% endif %}
                        <a href="{{ path('message_new') }}{{  entity.email }}" title="Envoyer un e-mail">
                            <img src="{{  asset('images/msg.svg') }}" width="20" height="20" alt="Éditer" />
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if is_granted('ROLE_ADMIN') %}
            <table align="center">
                <tr>
                    <td>
                        <a id="main-btn" href="{{ path('fos_user_registration_register') }}">Nouvel utilisateur</a>
                    </td>

                    <td>
                        <a id="main-btn" href="{{ path('fos_user_registration_register_contact') }}">Nouveau contact</a>
                    </td>
                </tr>
            </table>
        {% endif %}
        {% include '@Annuaire/Default/delete.html.twig' %}
    </main>

{% endblock %}



{% block scripts %}
    {{ parent() }}
{% if is_granted('ROLE_ADMIN') %}
    <script>
        $(document).ready(function() {
            $( '#donnees' ).dataTable( {
                "lengthChange": false,
                "info": false,
                "pagingType": "simple",
                "language": {
                    "search": "",
                    "paginate": {
                        previous: '‹',
                        next:     '›'
                    },
                },
                "responsive": {
                    details: {
                        type: 'column',
                        target: 'tr',
                        renderer: function ( api, rowIdx, columns ) {
                            var data = $.map( columns, function ( col, i ) {
                                return col.hidden ?
                                '<div>'+col.title+' : '+col.data+'</div>':'';
                            } ).join('');

                            return data ?
                                    $('<div class="slider"/>').append( data ) :
                                    false;
                        }
                    }
                },
                "autoWidth": false,
                "columns": [
                    { "width": "10%" },
                    { "width": "10%" },
                    { "width": "10%" },
                    { "width": "10%" },
                    { "width": "10%" },
                    { "width": "10%" },
                    { "width": "10%" },
                    { "width": "10%"},
                    { "width": "5%"}
                ],
                "columnDefs": [
                    {
                        className: 'control',
                        orderable: false
                    },
                    { className: 'all', targets: 0},
                    { className: 'all', targets: 4},
                    { responsivePriority: 3, targets: 0 },
                    { responsivePriority: 2, targets: 2 },
                    { responsivePriority: 1, targets: 1 }
                ],
                "order": [[ 3, 'desc' ], [ 2, 'asc' ]]
            });

            $( 'input[type="search"]' ).focus().attr( "placeholder", "recherche globale" );
        });
    </script>
{% else %}
    <script>
        $(document).ready(function() {
            $( '#donnees' ).dataTable( {
                "lengthChange": false,
                "info": false,
                "pagingType": "simple",
                "language": {
                    "search": "",
                    "paginate": {
                        previous: '‹',
                        next:     '›'
                    },
                },
                "responsive": {
                    details: {
                        type: 'column',
                        target: 'tr',
                        renderer: function ( api, rowIdx, columns ) {
                            var data = $.map( columns, function ( col, i ) {
                                return col.hidden ?
                                '<div>'+col.title+' : '+col.data+'</div>':'';
                            } ).join('');

                            return data ?
                                    $('<div class="slider"/>').append( data ) :
                                    false;
                        }
                    }
                },
                "autoWidth": false,
                "columns": [
                    { "width": "10%" },
                    { "width": "10%" },
                    { "width": "10%" },
                    { "width": "10%" },
                    { "width": "10%"},
                    { "width": "5%"}
                ],
                "columnDefs": [
                    {
                        className: 'control',
                        orderable: false
                    },
                    { className: 'all', targets: 0},
                    { className: 'all', targets: 4},
                    { responsivePriority: 3, targets: 0 },
                    { responsivePriority: 2, targets: 2 },
                    { responsivePriority: 1, targets: 1 }
                ],
                "order": [[ 3, 'desc' ], [ 2, 'asc' ]]
            });

            $( 'input[type="search"]' ).focus().attr( "placeholder", "recherche globale" );
        });
    </script>
{% endif %}
{% endblock %}