{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}

    {#{% if is_granted('ROLE_ADMIN') %}#}
        {#<div>#}
            {#{{ form_label(form.roles) }}#}
            {#{{ form_errors(form.roles) }}#}
            {#{{ form_widget(form.roles) }}#}
        {#</div>#}
    {#{% endif %}#}

    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
