<div id="menu-wrapper">
    <nav>
        <a href="{{ path('documents') }}" class="tile1">
            <img src="{{ asset('images/icone-documents.png') }}" alt="icône documents">
            <span>Documents</span>
        </a>

        <a href="#" class="tile3">
            <img src="{{ asset('images/icone-agenda.png') }}" alt="icône agenda">
            <span>Agenda</span>
        </a>

        <a href="{{ path('annuaire_homepage') }}" class="tile5">
            <img src="{{ asset('images/icone-annuaire.png') }}" alt="icône annuaire">
            <span>Annuaire</span>
        </a>

        <a href="#" class="tile2">
            <img src="{{ asset('images/icone-emploi.png') }}" alt="icône emploi">
            <span>Offres d'emploi</span>
        </a>

        <a href="{{ path('formations') }}" class="tile4">
            <img src="{{ asset('images/icone-formations.png') }}" alt="icône formations">
            <span>Formations</span>
        </a>

        <a href="{{ path('message') }}" class="tile6">
            <img src="{{ asset('images/icone-dialogue.png') }}" alt="icône dialogue">
            <span>Dialogue</span>
        </a>
    </nav>

    <div id="menu-trigger">
        <div class="arrow-right"></div>
    </div>
</div>