<div id="top-bar">
    <a href="{{ path('homepage') }}">P@rtnet'emploi du Perche</a>
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

            {% if (app.user.prenom) and (app.user.nom) %}
                <a href="{{ path('fos_user_profile_show') }}">{{ app.user.prenom }}&nbsp;{{ app.user.nom }}&nbsp;&nbsp;</a>
            {% else %}
                <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}&nbsp;&nbsp;</a>
            {% endif %}

            <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>

            {% if (app.user.picture != null) %}
                <img width="50" src="{{ path('user_get_picture', {'picture': app.user.picture}) }}" />
            {% endif %}
        {% endif %}
    </div>
</div>