{% extends '::base.html.twig' %}

{% block main_content -%}
    {{ include('includes/topbar.html.twig') }}
    {{ include('includes/sidebar.html.twig') }}

<main>
    <table id="donnees" class="nowrap stripe row-border hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {% if entity.photo %}
                        <img width="50" src="{{ path('organisme_get_picture', {'picture': entity.photo}) }}" />
                    {% endif %}
                </td>
                <td>{{ entity.nom }}</td>
                <td style="white-space: normal;">{{ entity.description }}</td>

                <td class="actions">

                        <a href="{{ path('admin_organisme_edit', { 'id': entity.id }) }}" title="Éditer">
                            <img src="{{  asset('images/edit.svg') }}" width="20" height="20" alt="Éditer" />
                        </a>
                        <a class="confirmModalLink" href="{{ path('admin_organisme_delete', { 'id': entity.id }) }}" title="Supprimer">
                            <img src="{{ asset('images/delete.svg') }}" width="20" height="20" alt="Supprimer" />
                        </a>

                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a id="main-btn" href="{{ path('admin_organisme_new') }}">Ajouter</a>
    {% include '@App/Organisme/delete.html.twig' %}
    </main>
    {% endblock %}
{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $( '#donnees' ).dataTable( {
                "lengthChange": false,
                "info": false,
                "pagingType": "simple",
                "language": {
                    "search": "",
                    "paginate": {
                        previous: '‹',
                        next:     '›'
                    }
                },
                "autoWidth": false,
                "columns": [
                    { "width": "5%" },
                    { "width": "10%" },
                    { "width": "77,5%" },
                    { "width": "7,5%" }
                ]
            });

            // autofocus et placeholder pour le champ de recherche
            $( 'input[type="search"]' ).focus().attr( "placeholder", "recherche globale" );

            // fadeout pour le flashbag
            window.setTimeout(function() {
                $( '.flashbag' ).fadeOut( 1750 );
            }, 2250);
        });
    </script>
{% endblock %}

