{% extends '::base.html.twig' %}

{% block main_content -%}
    {{ include('includes/topbar.html.twig') }}
    {{ include('includes/sidebar.html.twig') }}
<main>
    <h2>Organismes</h2>

    <table id="donnees" class="records_list">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {% if entity.photo %}
                        <img width="50" src="{{ path('organisme_get_picture', {'picture': entity.photo}) }}" />
                    {% endif %}
                </td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.description }}</td>

                <td class="actions">

                        <a href="{{ path('admin_organisme_edit', { 'id': entity.id }) }}" title="Editer">
                            <img src="{{  asset('images/edit.svg') }}" width="20" height="20" alt="Éditer" />
                        </a>
                        <a class="confirmModalLink" href="{{ path('admin_organisme_delete', { 'id': entity.id }) }}" title="Supprimer">
                            <img src="{{ asset('images/delete.svg') }}" width="20" height="20" alt="Supprimer" />
                        </a>

                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="button-add" href="{{ path('admin_organisme_new') }}">Ajouter</a>
    {% include '@App/Organisme/delete.html.twig' %}
    </main>
    {% endblock %}
{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $( '#donnees' ).dataTable( {
                "lengthChange": false,
                "info": false,
                "pagingType": "simple",
                "language": {
                    "search": "",
                    "paginate": {
                        previous: '‹',
                        next:     '›'
                    }
                },
                "responsive": {
                    details: {
                        type: 'column',
                        target: '.target',
                        renderer: function ( api, rowIdx, columns ) {
                            var data = $.map( columns, function ( col, i ) {
                                return col.hidden && col.data != "" ?
                                '<div><strong>'+col.title+'</strong> : '+col.data+'</div>':'';
                            } ).join('');

                            return data ?
                                    $('<div class="slider"/>').append( data ) :
                                    false;
                        }
                    }
                },
                "autoWidth": false,
                "columns": [
                    { "width": "5%" },
                    { "width": "10.5%" },
                    { "width": "54.5%" },
                    { "width": "7.5%" },

                ],
                "columnDefs": [],

            });



            // autofocus et placeholder pour le champ de recherche
            $( 'input[type="search"]' ).focus().attr( "placeholder", "recherche globale" );

            // fadeout pour le flashbag
            window.setTimeout(function() {
                $( '.flashbag' ).fadeOut( 1750 );
            }, 2250);
        });
    </script>
{% endblock %}

