{% extends '::base.html.twig' %}

{% block main_content -%}
    {{ include('includes/topbar.html.twig') }}
    {{ include('includes/sidebar.html.twig') }}
<main class="admin-form deep-main">
    <h1>Création d'un organisme</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}


    <div>
        {{ form_label(form.file, 'Image associé') }}
        {{ form_errors(form.file) }}
        {{ form_widget(form.file) }}
    </div>

    <div>
        {{ form_label(form.nom, 'Nom') }}
        {{ form_errors(form.nom) }}
        {{ form_widget(form.nom) }}
    </div>

    <div>
        {{ form_label(form.description, 'Description') }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description) }}
    </div>

    {{ form_end(form) }}

</main>
{% endblock %}
