{% extends 'base.html.twig' %}

{% block body_class %}<body id="agenda">{% endblock %}

{% block main_content %}
    {{ include('includes/topbar.html.twig') }}
    {{ include('includes/sidebar.html.twig') }}

    <main>

        <div id='calendar'></div>

    </main>

{% endblock %}

{% block scripts %}

{{ parent() }}
    <script src="{{ asset('bundles/agenda/js/calendar/1moment.min.js') }}"></script>
    <script src="{{ asset('bundles/agenda/js/calendar/2fullcalendar.js') }}"></script>
    <script src="{{ asset('bundles/agenda/js/calendar/lang/fr.js') }}"></script>
    <script src="{{ asset('bundles/agenda/js/calendar/3calendarconfig.js') }}"></script>
{% endblock %}