{% extends 'base.html.twig' %}

{% block body_class %}<body id="agenda">{% endblock %}

{% block main_content %}
    {{ include('includes/topbar.html.twig') }}
    {{ include('includes/sidebar.html.twig') }}

    <main class="datatables-page">

        <div id='calendar'></div>
        <a id="main-btn" href="{{ path('events_new') }}">Ajouter un évènement</a>

    </main>

    {% include '@Agenda/Events/eventrender.html.twig' %}
{% endblock %}

{% block scripts %}
    <script>
        var user = '{{ app.user }}';
    </script>
    <script src="{{ asset('bundles/agenda/js_calendar/1moment.min.js') }}"></script>
    <script src="{{ asset('bundles/agenda/js_calendar/2fullcalendar.js') }}"></script>
    <script src="{{ asset('bundles/agenda/js_calendar/3calendarconfig.js') }}"></script>
    <script src="{{ asset('bundles/agenda/js_calendar/lang/fr.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {{ parent() }}
{% endblock %}