{% extends 'FOSUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div class="invalid">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form id="login" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required autofocus />

    <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required />

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

    <div>
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
    </div>

</form>

    {#<a href="{{ path('fos_user_registration_register') }}">S'inscrire</a>#}
{% endblock fos_user_content %}
