<div class="fos_user_user_show">
    {% if (app.user.picture != null) %}
        <div class="avatar"><img width="100" src="{{ path('user_get_picture', {'picture': app.user.picture}) }}" /></div>
    {% endif %}
    <ul class="profile-data">
        <li><span>Prénom</span><span>{{ user.prenom }}</span></li>
        <li><span>Nom</span><span>{{ user.nom }}</span></li>
        <li><span>Email</span><span>{{ user.email }}</span></li>
        <li><span>Organisme</span><span>{{ user.organisme }}</span></li>
        <li><span>Fonction</span><span>{{ user.poste }}</span></li>
        <li><span>Téléphone</span><span>{{ user.telephone }}</span></li>
    </ul>
    <div class="main-submit-double">
        <a class="main-submit" href="{{ path('fos_user_profile_edit') }}">Mettre à jour mes informations</a>
        <a class="main-submit" href="{{ path('fos_user_change_password') }}">Modifier mon mot de passe</a>
    </div>
</div>
