{% extends 'base.html.twig' %}

{% block body_class %}
<body id="agenda" xmlns="http://www.w3.org/1999/html">{% endblock %}

{% block main_content %}
    {{ include('includes/topbar.html.twig') }}
    {{ include('includes/sidebar.html.twig') }}

    <main class="deep-main agenda_form">
            <h1>Création d'un évènement</h1>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <h3>{{ startEvent }}</h3>

        <div id="date_start_event_new">
            {{ form_label(form.start) }}
            {{ form_errors(form.start) }}
            {{ form_widget(form.start) }}

        </div>

        <div>
            {{ form_label(form.titre) }}
            {{ form_errors(form.titre) }}
            {{ form_widget(form.titre) }}
        </div>

        <div>
            {{ form_label(form.contenu) }}
            {{ form_errors(form.contenu) }}
            {{ form_widget(form.contenu) }}
        </div>

        <div id="date_end_event">
            {{ form_label(form.end) }}
            {{ form_errors(form.end) }}
            {{ form_widget(form.end) }}
        </div>

        {{ form_end(form) }}

    </main>



{% endblock %}
