{% extends 'base.html.twig' %}

{% block body_class %}<body id="ged">{% endblock %}

{% block main_content %}
    {{ include('includes/topbar.html.twig') }}

    {% if app.session.flashBag.has('success') %}
        {% for msg in app.session.flashBag.get('success') %}
            {{ msg }}
        {% endfor %}
    {% endif %}

    <table id="donnees" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Titre du document</th>
                <th>Extension</th>
                <th>Auteur</th>
                <th>Organisme émetteur</th>
                <th>Date d'ajout</th>
                <th>/</th>
            </tr>
        </thead>
        <tbody>
        {% for doc in docs %}
            <tr>
                <td>{{ doc.titre }}</td>
                <td>{{ doc.extension }}</td>
                <td>{{ doc.auteur }}</td>
                {% for user in users %}
                    {% if user.username == doc.user %}
                        <td>{{ user.organisme }}</td>
                    {% endif %}
                {% endfor %}
                <td>{{ doc.dateUpload|date('m/d/Y') }}</td>
                <td><a href="{{ path("ged_download", {filename: doc.url}) }}">télécharger</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Button trigger modal -->
    <button type="button" class="button-ajout btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Ajouter un document
    </button>

    {% if edit_form is defined %}

    {% else %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ajouter un document</h4>
                </div>
                <div class="modal-body">

                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div>
                        {{ form_label(form.titre, 'Titre') }}
                        {{ form_errors(form.titre) }}
                        {{ form_widget(form.titre) }}
                    </div>

                    <div>
                        {{ form_label(form.auteur) }}
                        {{ form_errors(form.auteur) }}
                        {{ form_widget(form.auteur) }}
                    </div>

                    <div>
                        {{ form_label(form.resume) }}
                        {{ form_errors(form.resume) }}
                        {{ form_widget(form.resume) }}
                    </div>

                    <div>
                        {{ form_label(form.finDeVie) }}
                        {{ form_errors(form.finDeVie) }}
                        {{ form_widget(form.finDeVie) }}
                    </div>

                    {% if app.session.flashBag.has('failure') %}
                        {% for msg in app.session.flashBag.get('failure') %}
                            {{ msg }}
                        {% endfor %}
                    {% endif %}
                    <div>
                        {{ form_label(form.url) }}
                        {{ form_errors(form.url) }}
                        {{ form_widget(form.url) }}
                    </div>

                    <div>
                        {{ form_widget(form.save) }}
                    </div>

                    {{ form_end(form) }}
                </div>
                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>-->
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#donnees').DataTable();
        } );
    </script>
{% endblock %}